.box{ 
    display: flex;
    flex-wrap: wrap;
}
#one{width: 1315px;
height: 80px;
background-color: blue;
text-align: center;
padding-top:  30px;
font-size: 30px;}
#two{width: 300px;
height: 400px;
background-color: yellow;
text-align: center;
}
#three{width: 1000px;
height: 385px;
background-color: brown;
padding-top: 15px;
padding-left: 15px;
text-align: center;
font-size: 20px;}
#four{width: 1315px;
height: 80px;
background-color: blue;
padding-top: 40px;
font-size: 30px;
text-align: center;
}
li{list-style-type: none;
padding-top: 10px;}
li:hover{ font-size: 20px; 
}
.conteiner{width: 100px;
height: 80px;
background-color: black;
padding-left: 20px;
padding-top: 10px;
}
.conteiner:hover{width: 120px;
height: 90px;  
}
.conteiner{float: left;
margin-right: 100px;
margin-left: 100px;
}